body {
  color: #86a4ff;
  padding: 20px;
  background-color: #02010a;
}

input {
  padding: 6px;
  border-radius: 4px;
  border: 1px #c9c9c9 solid;
}

.fl-right {
  float: right;
}

.ch-page-header {
  font-size: 2.8rem;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.panel-heading-green {
  background-color: #47ef74;
}

.panel-heading-red {
  background-color: #ef4747;
}

.ch-stock-overview {
  margin-top: 50px;
}

.ch-panel-body-offers {
  max-height: 200px;
  overflow: scroll;
}

.ch-panel-body-portfolio {
  max-height: 250px;
  /*overflow: scroll;*/
}

.transaction-id-label, .currency-amount-text {
  display: inline;
  text-align: center;
}

.stockActionSellButton, .stockActionBuyButton {
  margin-top: 10px
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #404040;
}

.panel-body {
  text-align: center;
  background-color: #272727;
}

.ch-panel-body-account {
  padding-top: 30px;
  height: 200px;
  /*background-color:  #5673ff;*/
}

.convertButton {
  margin-top: 10px;
}

.lastUpdated {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #757575;
}

.account-action-panel {
  height: 240px;
  text-align: center;
  background-color: #272727;
}

.panel {
  border: none;
}
